.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button-row {
  display: flex;
  gap: 16px;
  justify-content: center;
  /* optional: center them */
  flex-wrap: wrap;
  /* allows buttons to move to next line */
}

.App-header {
  background-color: #e4e4e4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}